/* popins font link */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


#page{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  padding:0;
  width: 100%;
  height: 100%;
}


/* header style start form here */
.header_banner{
   background-image:url(../images/banner1.jpeg);
   background-position:center;
   background-size: cover;
   background-repeat: no-repeat;
border: 2px solid;
    margin:20px 10%;
    text-align: center;
    max-width: 1100px;
    position: relative;
    border-radius: 10px;
    height: 200px;
}

/* .header_banner >img{
width: 100%;
height: 100%;
position:absolute;
left:0;
z-index: -99;
} */

.header_content{
    margin: 50px;
    border: 2px solid white;
}

.header_content > h5,h2{
    color: white;
 padding: 0;
 margin: 0;
}


/* header style end form here */



/* section1 style form here */


.section1_happy_new{
  width: 80%;
  border: 2px solid;
  text-align: center;
 max-width: 800px;
margin:20px 10%;
}

.section1_contents{
    margin: 10px;
    padding:0;
}

.section1_contents > h2{
color:#FF0000;
font-size: 35px;
}

.section1_contents >p{
    font-size: 12px;
    color:#FF0000;
}

.section1_contents >h4{
    color:black;
}

.section1_happy_new >img{
    width: 80%;
}
/* section1 style end.. */


/* section2 / welcome .style start from here */

.section2_welcome{
background-image: url(../images/Vectorrr.png);
background-repeat: no-repeat;
background-size:calc(100%);
background-position: cover;
width: 80%;
height: 160px;
margin: 20px 10%;
border: 2px solid green; 
display: flex;
justify-content: space-between;
/* align-items: center; */
padding: 30px;
}


.sec2_column{

}

.sec2_content{
color:white;
margin-bottom: 10px;
}

.sec2_content>h2{

}

.sec2_content>p{
font-size: 0.5em;
}

.sec2_content button{
   color:white;
   font-size: 13px;
   background-color: transparent;
   border:1px solid white;
   padding:10px 18px;
   border-radius: 5px;
    }

.sec2_content button:hover{

background-clip: text;
-webkit-text-fill-color: transparent;
background-image:linear-gradient(to right, rgb(252, 117, 72),rgb(255, 255, 255));
box-shadow: 0 0 9px 5px white;
/* 
1.ekane box sadow er value protom 2ta (0 0) dei taile box er 4pashe shadow porbe, jodi kuno value 5/10..px dei thlee j kuno 2side e shadow porbe j.
 ar jodi -Xpx value dei taile shodow tar biporit/left/top e porbe,but jodi kuno positive value dei tkn default vabe bottom & right side e shodow pore.

3. 3number value ta hocce shadow kototuk gono patla hobe seta define kore.

4.& last 4number value ta hocce  shadow kototuk chorai jabe seta define kore, */
/*  */

}   


/* section3 style start from here */

.section3{
    background-image: linear-gradient(#ff000030,#ff000000);
text-align: center;
font-size: 15px;
width: 80%;
margin: 20px 10%;
}
.sec3_red_span{
    color:#FF0000;
}

.sec3_btn{
    color:#FF0000;
   font-size: 13px;
   /* background-color:#FF0000; */
   border:1px solid #FF0000;
   padding:10px 18px;
   border-radius: 5px;
}

.sec3_btn:hover{
    background-color: white;
    color:#FF0000;
    /* background-color: transparent; */
    border:2px solid #FF0000;
    box-shadow: 0 0 10px  #FF0000;
}

/* section4 style start from here */

.section4{
    width: 80%;
    margin: 20px 10%;
    display: flex;
    align-items: center;
justify-content: center;
}

.sec4_column{
border:2px solid;
width: 25%;
margin: 20px;
}

.sec4_content{

}

.sec4_content  h4{
    color:red;
}

.sec4_content  h3{
    color: black;
}

.sec4_content p{
font-size: 10px;
color: rgb(70, 69, 69);
}

.img_border{
    border:20px solid #FF0000;
  border-radius: 50%;
padding: 10px;
text-align: center;
margin: 0 0px;
/* background-image: url('/images/Ellipse\ 1.png');
background-size: cover;
background-position: 100%; */

}
.img_border img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.section5{
text-align: center;
width: 80%;
margin: 20px 10%;

}

.setion5 h1{
    font-weight: 700;
}
.section5 span{
    color:#FF0000;
}