/* popins font link */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


#page{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  padding:0;
  width: 100%;
  height: 100%;
}


/* header style start form here */
.header_banner{
   /* background-image:url('images/banner1.jpeg');
   background-position:center;
   background-size: contain;
   background-repeat: no-repeat; */
border: 2px solid;
    margin:20px 10%;
    text-align: center;
    max-width: 1100px;
    position: relative;
    border-radius: 10px;
    height: 200px;
}

.header_banner >img{
width: 100%;
height: 100%;
position:absolute;
left:0;
z-index: -99;
}

.header_content{
    margin: 50px;
    border: 2px solid white;
}

.header_content > h5,h2{
    color: white;
 padding: 0;
 margin: 0;
}


/* header style end form here */



/* section1 style form here */


.section1_happy_new{
  width: 100%;
  border: 2px solid;
  text-align: center;
 padding: 40px;
 max-width: 1050px;
 margin:12%;

}

.section1_contents{
    margin: 10px;
    padding:0;
}

.section1_contents > h2{
color:#FF0000;
font-size: 35px;
}

.section1_contents >p{
    font-size: 12px;
    color:#FF0000;
}

.section1_contents >h4{
    color:black;
}

.section1_happy_new >img{
    width: 100%;
}
/* section1 style end.. */


